interactions:
- request:
    body: null
    headers:
      X-Ratelimit-Precision:
      - millisecond
    method: GET
    uri: https://discord.com/api/v7/users/@me
  response:
    body:
      string: '{"id": "788430627179462657", "username": "DiscardTest", "avatar": null,
        "discriminator": "9433", "public_flags": 0, "flags": 0, "bot": true, "email":
        null, "verified": true, "locale": "en-US", "mfa_enabled": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://discord.com/api/v7/users/@me
- request:
    body: null
    headers:
      X-Ratelimit-Precision:
      - millisecond
    method: GET
    uri: https://discord.com/api/v7/users/788430627179462657
  response:
    body:
      string: '{"id": "788430627179462657", "username": "DiscardTest", "avatar": null,
        "discriminator": "9433", "public_flags": 0, "bot": true}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-bucket:
      - aa6a962e04660e4eb788914e1ef32c12
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '1612210454.052'
      x-ratelimit-reset-after:
      - '30.000'
    status:
      code: 200
      message: OK
    url: https://discord.com/api/v7/users/788430627179462657
version: 1
