interactions:
- request:
    body: null
    headers:
      X-Ratelimit-Precision:
      - millisecond
    method: GET
    uri: https://discord.com/api/v7/users/@me
  response:
    body:
      string: '{"id": "788430627179462657", "username": "DiscardTest", "avatar": null,
        "discriminator": "9433", "public_flags": 0, "flags": 0, "bot": true, "email":
        null, "verified": true, "locale": "en-US", "mfa_enabled": true}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
    url: https://discord.com/api/v7/users/@me
- request:
    body: null
    headers:
      X-Ratelimit-Precision:
      - millisecond
    method: GET
    uri: https://discord.com/api/v7/channels/805808489695150183/messages?limit=100&after=0
  response:
    body:
      string: '[{"id": "805808981356183572", "type": 0, "content": "This message was
        edited.", "channel_id": "805808489695150183", "author": {"id": "83101988983668736",
        "username": "Sanqui", "avatar": "5806dc8069de110e94876ea63e0a1456", "discriminator":
        "3248", "public_flags": 0}, "attachments": [], "embeds": [], "mentions": [],
        "mention_roles": [], "pinned": false, "mention_everyone": false, "tts": false,
        "timestamp": "2021-02-01T14:37:12.362000+00:00", "edited_timestamp": "2021-02-01T14:37:14.873000+00:00",
        "flags": 0}, {"id": "805808779160846405", "type": 0, "content": "This message
        will have a reaction.", "channel_id": "805808489695150183", "author": {"id":
        "83101988983668736", "username": "Sanqui", "avatar": "5806dc8069de110e94876ea63e0a1456",
        "discriminator": "3248", "public_flags": 0}, "attachments": [], "embeds":
        [], "mentions": [], "mention_roles": [], "pinned": false, "mention_everyone":
        false, "tts": false, "timestamp": "2021-02-01T14:36:24.155000+00:00", "edited_timestamp":
        null, "flags": 0, "reactions": [{"emoji": {"id": null, "name": "\ud83d\udc4d"},
        "count": 1, "me": false}]}, {"id": "805808758717546547", "type": 0, "content":
        "The previous message was an invite message.", "channel_id": "805808489695150183",
        "author": {"id": "83101988983668736", "username": "Sanqui", "avatar": "5806dc8069de110e94876ea63e0a1456",
        "discriminator": "3248", "public_flags": 0}, "attachments": [], "embeds":
        [], "mentions": [], "mention_roles": [], "pinned": false, "mention_everyone":
        false, "tts": false, "timestamp": "2021-02-01T14:36:19.28[...]
